* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.bodyContainer {
    overflow-x: hidden;
    width: 90vw;
    margin: 70px 5vw 0 5vw;
    padding: 3vw 3vw 0 ;
    
}
.bodySpan {
    /* font-size: max(4vw,25px); */
    font-size: min(10vw, 40px);

}